In [1]:
from bs4 import BeautifulSoup
import requests
import os
import pandas as pd
import requests
import json

In [2]:
url= "https://mtp.travel/api/rankings/users?checklistType=locations&gender=&country=United+States&country_id=977&vfIcg=&location=All+States%2FProvinces&location_id=all&ageGroup=&facebookConnected=&country_has_children=true&page="

In [9]:
MTP_df_final = pd.DataFrame()
for i in range(1,40):
    query_url = url+"i"
    MTP_response = requests.get(query_url)
    MTP_json = MTP_response.json()
    MTP_data =MTP_json["users"]["data"]
    # location_data = MTP_json["users"]["data"]["location"]
    # MTP_data
    MTP_df = pd.DataFrame(MTP_data)
    # MTP_df_final = MTP_df["first_name","last_name","birthday","location"]
    MTP_df_final = MTP_df_final.append(MTP_df.filter(["id","full_name", "birthday","gender","location"], axis=1))
    
MTP_df_final

,id,full_name,birthday,gender,location
0,3218,Robert A. Bonifas,1937-06-04,M,"{'id': 98, 'Location': 'Illinois', 'RegionIDne..."
1,3533,Donald M Parrish Jr,1944-10-27,M,"{'id': 98, 'Location': 'Illinois', 'RegionIDne..."
2,1,Charles A Veley,1965-06-25,M,"{'id': 89, 'Location': 'California', 'RegionID..."
3,53,Bill Altaffer,1943-07-17,M,"{'id': 89, 'Location': 'California', 'RegionID..."
4,1125,Jagannathan Srinivasaraghavan,1950-05-13,M,"{'id': 98, 'Location': 'Illinois', 'RegionIDne..."
5,1189,Bart Hackley,1944-10-01,M,"{'id': 89, 'Location': 'California', 'RegionID..."
6,8149,Frank Rainer,1943-05-08,M,"{'id': 89, 'Location': 'California', 'RegionID..."
7,2770,Larry Leventhal*,1935-05-25,M,"{'id': 121, 'Location': 'New York', 'RegionIDn..."
8,19571,Dominik Grzyb,1973-06-23,M,"{'id': 150, 'Location': 'Wisconsin', 'RegionID..."
9,12131,Bob Parda,1946-01-05,M,"{'id': 89, 'Location': 'California', 'RegionID..."
10,56,Alexander Gushansky,1937-05-23,M,"{'id': 89, 'Location': 'California', 'RegionID..."
11,5581,Joseph Krawczyk,1961-06-01,M,"{'id': 83, 'Location': 'Alabama', 'RegionIDnew..."
12,15222,"John F. Burke, Jr.",1937-03-25,M,"{'id': 128, 'Location': 'Ohio', 'RegionIDnew':..."
13,41231,Steve Newcomer,1957-11-16,M,"{'id': 89, 'Location': 'California', 'RegionID..."
14,12163,Carmen Mccormick,1968-08-29,F,"{'id': 89, 'Location': 'California', 'RegionID..."
15,597,Alan K. Hogenauer*,1941-09-17,M,"{'id': 89, 'Location': 'California', 'RegionID..."
16,164,Robert Ippolito,1946-12-30,M,"{'id': 123, 'Location': 'North Carolina', 'Reg..."
17,32394,Michael Chalmer Dunn,1949-03-31,M,"{'id': 98, 'Location': 'Illinois', 'RegionIDne..."
18,6329,Robert Petrik,1940-01-17,M,"{'id': 95, 'Location': 'Florida', 'RegionIDnew..."
19,98,Carolyn Broadwell,1931-12-13,F,"{'id': 89, 'Location': 'California', 'RegionID..."
20,328,Christine Kloner,1963-07-11,F,"{'id': 121, 'Location': 'New York', 'RegionIDn..."
21,32,Tim Carlson,1938-02-09,M,"{'id': 89, 'Location': 'California', 'RegionID..."
22,1589,Ray Woods,1942-02-28,M,"{'id': 101, 'Location': 'Kansas', 'RegionIDnew..."
23,111,Michael Novins,1964-03-20,M,"{'id': 121, 'Location': 'New York', 'RegionIDn..."
24,5186,Ed Reynolds,1935-08-05,M,"{'id': 89, 'Location': 'California', 'RegionID..."
25,2759,Valentin Sazhin,1959-09-23,M,"{'id': 121, 'Location': 'New York', 'RegionIDn..."
26,5544,Joel Baumbaugh,1950-07-09,M,"{'id': 89, 'Location': 'California', 'RegionID..."
27,317,Lynn Stephenson,1926-11-15,F,"{'id': 123, 'Location': 'North Carolina', 'Reg..."
28,524,Steve Fuller,1948-07-12,M,"{'id': 113, 'Location': 'Missouri', 'RegionIDn..."
29,7411,Robert Amon,1940-09-24,M,"{'id': 131, 'Location': 'Oregon', 'RegionIDnew..."
...,...,...,...,...,...
20,328,Christine Kloner,1963-07-11,F,"{'id': 121, 'Location': 'New York', 'RegionIDn..."
21,32,Tim Carlson,1938-02-09,M,"{'id': 89, 'Location': 'California', 'RegionID..."
22,1589,Ray Woods,1942-02-28,M,"{'id': 101, 'Location': 'Kansas', 'RegionIDnew..."
23,111,Michael Novins,1964-03-20,M,"{'id': 121, 'Location': 'New York', 'RegionIDn..."
24,5186,Ed Reynolds,1935-08-05,M,"{'id': 89, 'Location': 'California', 'RegionID..."
25,2759,Valentin Sazhin,1959-09-23,M,"{'id': 121, 'Location': 'New York', 'RegionIDn..."
26,5544,Joel Baumbaugh,1950-07-09,M,"{'id': 89, 'Location': 'California', 'RegionID..."
27,317,Lynn Stephenson,1926-11-15,F,"{'id': 123, 'Location': 'North Carolina', 'Reg..."
28,524,Steve Fuller,1948-07-12,M,"{'id': 113, 'Location': 'Missouri', 'RegionIDn..."
29,7411,Robert Amon,1940-09-24,M,"{'id': 131, 'Location': 'Oregon', 'RegionIDnew..."
30,8066,Magali V. Hinojosa,1950-11-10,F,"{'id': 143, 'Location': 'Texas', 'RegionIDnew'..."
31,24615,Tim Meyer,1955-05-29,M,"{'id': 116, 'Location': 'Nevada', 'RegionIDnew..."
32,23,Ted Cookson,1951-05-29,M,"{'id': 95, 'Location': 'Florida', 'RegionIDnew..."
33,2153,Richard Pazara,1946-09-25,M,"{'id': 143, 'Location': 'Texas', 'RegionIDnew'..."
34,12614,Frank Robinson,1942-10-23,M,"{'id': 89, 'Location': 'California', 'RegionID..."
35,14140,Sevi Ceviche,1976-02-29,M,"{'id': 104, 'Location': 'Louisiana', 'RegionID..."
36,11033,Meredith Amon,1940-07-11,F,"{'id': 131, 'Location': 'Oregon', 'RegionIDnew..."
37,1483,Jim Fenton,1931-01-10,M,"{'id': 89, 'Location': 'California', 'RegionID..."
38,4490,Jack Wheeler,1943-11-09,M,"{'id': 94, 'Location': 'District of Columbia',..."
39,6125,Cathy Lincoln,1956-07-17,F,"{'id': 128, 'Location': 'Ohio', 'RegionIDnew':..."
40,41540,David Hoffman,1954-10-20,M,"{'id': 143, 'Location': 'Texas', 'RegionIDnew'..."
41,31809,Gene (terry) Johnson,1948-12-11,M,"{'id': 107, 'Location': 'Maryland', 'RegionIDn..."
42,4051,Ken Shin,1934-08-30,M,"{'id': 89, 'Location': 'California', 'RegionID..."
43,1555,Hugh Randall,1942-09-18,M,"{'id': 95, 'Location': 'Florida', 'RegionIDnew..."
44,4390,Lee Abbamonte,1978-08-29,M,"{'id': 121, 'Location': 'New York', 'RegionIDn..."
45,29470,Harold Griffith,1932-12-15,M,"{'id': 89, 'Location': 'California', 'RegionID..."
46,3774,Gloria Helmuth,1940-11-16,F,"{'id': 129, 'Location': 'Oklahoma', 'RegionIDn..."
47,3271,William Ball,1959-08-25,M,"{'id': 98, 'Location': 'Illinois', 'RegionIDne..."
48,10387,William Humphries,1932-01-25,M,"{'id': 121, 'Location': 'New York', 'RegionIDn..."
49,24006,Charles D. Williams*,1926-03-02,M,"{'id': 99, 'Location': 'Indiana', 'RegionIDnew..."

In [10]:
MTP_df_final.to_csv("raw_data.csv")