In [2]:
from bs4 import BeautifulSoup
import requests
import os
import pandas as pd
import requests
import json

In [3]:
url= "https://mtp.travel/api/rankings/users?checklistType=locations&gender=&country=United+States&country_id=977&vfIcg=&location=All+States%2FProvinces&location_id=all&ageGroup=&facebookConnected=&country_has_children=true&page="

In [16]:
MTP_df_final = pd.DataFrame()
for i in range(1,35):
    query_url = url+str(i)
#     print(query_url)
    MTP_response = requests.get(query_url)
    MTP_json = MTP_response.json()
    MTP_data =MTP_json["users"]["data"]
    # location_data = MTP_json["users"]["data"]["location"]
    # MTP_data
    MTP_df = pd.DataFrame(MTP_data)
    # MTP_df_final = MTP_df["first_name","last_name","birthday","location"]
    MTP_df_final = MTP_df_final.append(MTP_df.filter(["id","full_name", "birthday","gender","location"], axis=1))
    
MTP_df_final.head()

,id,full_name,birthday,gender,location
0,3218,Robert A. Bonifas,1937-06-04,M,"{'id': 98, 'Location': 'Illinois', 'RegionIDne..."
1,3533,Donald M Parrish Jr,1944-10-27,M,"{'id': 98, 'Location': 'Illinois', 'RegionIDne..."
2,1,Charles A Veley,1965-06-25,M,"{'id': 89, 'Location': 'California', 'RegionID..."
3,53,Bill Altaffer,1943-07-17,M,"{'id': 89, 'Location': 'California', 'RegionID..."
4,1125,Jagannathan Srinivasaraghavan,1950-05-13,M,"{'id': 98, 'Location': 'Illinois', 'RegionIDne..."

In [17]:
MTP_df_final.to_csv("raw_data.csv")