In [1]:
from bs4 import BeautifulSoup
import requests
import os
import pandas as pd
import requests
import json

In [4]:
url= "https://mtp.travel/api/rankings/users?checklistType=locations&gender=&country=United+States&country_id=977&vfIcg=&location=All+States%2FProvinces&location_id=all&ageGroup=&facebookConnected=&country_has_children=true&page="

In [8]:

for i in range(119,165):
    try:
        query_url = url+str(i)
    #     print(query_url)
        MTP_response = requests.get(query_url)
        MTP_json = MTP_response.json()
        MTP_data =MTP_json["users"]["data"]
        # location_data = MTP_json["users"]["data"]["location"]
        # MTP_data
        MTP_df = pd.DataFrame(MTP_data)
        # MTP_df_final = MTP_df["first_name","last_name","birthday","location"]
        MTP_df_final = MTP_df_final.append(MTP_df.filter(["id","full_name", "birthday","gender","location"], axis=1))
        print("we're on number "+str(i))
    except Exception as e:
        print(str(i)+" error was " + str(e))
MTP_df_final.head()

we're on number 119
we're on number 120
we're on number 121
we're on number 122
we're on number 123
we're on number 124
we're on number 125
we're on number 126
we're on number 127
we're on number 128
we're on number 129
we're on number 130
we're on number 131
we're on number 132
we're on number 133
we're on number 134
we're on number 135
we're on number 136
we're on number 137
we're on number 138
we're on number 139
we're on number 140
we're on number 141
we're on number 142
we're on number 143
we're on number 144
we're on number 145
we're on number 146
we're on number 147
we're on number 148
we're on number 149
we're on number 150
we're on number 151
we're on number 152
we're on number 153
we're on number 154
we're on number 155
we're on number 156
we're on number 157
we're on number 158
we're on number 159
we're on number 160
we're on number 161
we're on number 162
we're on number 163
we're on number 164

,id,full_name,birthday,gender,location
0,3218,Robert A. Bonifas,1937-06-04,M,"{'id': 98, 'Location': 'Illinois', 'RegionIDne..."
1,3533,Donald M Parrish Jr,1944-10-27,M,"{'id': 98, 'Location': 'Illinois', 'RegionIDne..."
2,1,Charles A Veley,1965-06-25,M,"{'id': 89, 'Location': 'California', 'RegionID..."
3,53,Bill Altaffer,1943-07-17,M,"{'id': 89, 'Location': 'California', 'RegionID..."
4,1125,Jagannathan Srinivasaraghavan,1950-05-13,M,"{'id': 98, 'Location': 'Illinois', 'RegionIDne..."

In [10]:
MTP_df_final.to_csv("raw_data.csv")

In [9]:
MTP_df_final

,id,full_name,birthday,gender,location
0,3218,Robert A. Bonifas,1937-06-04,M,"{'id': 98, 'Location': 'Illinois', 'RegionIDne..."
1,3533,Donald M Parrish Jr,1944-10-27,M,"{'id': 98, 'Location': 'Illinois', 'RegionIDne..."
2,1,Charles A Veley,1965-06-25,M,"{'id': 89, 'Location': 'California', 'RegionID..."
3,53,Bill Altaffer,1943-07-17,M,"{'id': 89, 'Location': 'California', 'RegionID..."
4,1125,Jagannathan Srinivasaraghavan,1950-05-13,M,"{'id': 98, 'Location': 'Illinois', 'RegionIDne..."
5,1189,Bart Hackley,1944-10-01,M,"{'id': 89, 'Location': 'California', 'RegionID..."
6,8149,Frank Rainer,1943-05-08,M,"{'id': 89, 'Location': 'California', 'RegionID..."
7,2770,Larry Leventhal*,1935-05-25,M,"{'id': 121, 'Location': 'New York', 'RegionIDn..."
8,19571,Dominik Grzyb,1973-06-23,M,"{'id': 150, 'Location': 'Wisconsin', 'RegionID..."
9,12131,Bob Parda,1946-01-05,M,"{'id': 89, 'Location': 'California', 'RegionID..."
10,56,Alexander Gushansky,1937-05-23,M,"{'id': 89, 'Location': 'California', 'RegionID..."
11,5581,Joseph Krawczyk,1961-06-01,M,"{'id': 83, 'Location': 'Alabama', 'RegionIDnew..."
12,15222,"John F. Burke, Jr.",1937-03-25,M,"{'id': 128, 'Location': 'Ohio', 'RegionIDnew':..."
13,41231,Steve Newcomer,1957-11-16,M,"{'id': 89, 'Location': 'California', 'RegionID..."
14,12163,Carmen Mccormick,1968-08-29,F,"{'id': 89, 'Location': 'California', 'RegionID..."
15,597,Alan K. Hogenauer*,1941-09-17,M,"{'id': 89, 'Location': 'California', 'RegionID..."
16,164,Robert Ippolito,1946-12-30,M,"{'id': 123, 'Location': 'North Carolina', 'Reg..."
17,32394,Michael Chalmer Dunn,1949-03-31,M,"{'id': 98, 'Location': 'Illinois', 'RegionIDne..."
18,6329,Robert Petrik,1940-01-17,M,"{'id': 95, 'Location': 'Florida', 'RegionIDnew..."
19,98,Carolyn Broadwell,1931-12-13,F,"{'id': 89, 'Location': 'California', 'RegionID..."
20,328,Christine Kloner,1963-07-11,F,"{'id': 121, 'Location': 'New York', 'RegionIDn..."
21,32,Tim Carlson,1938-02-09,M,"{'id': 89, 'Location': 'California', 'RegionID..."
22,1589,Ray Woods,1942-02-28,M,"{'id': 101, 'Location': 'Kansas', 'RegionIDnew..."
23,111,Michael Novins,1964-03-20,M,"{'id': 121, 'Location': 'New York', 'RegionIDn..."
24,5186,Ed Reynolds,1935-08-05,M,"{'id': 89, 'Location': 'California', 'RegionID..."
25,2759,Valentin Sazhin,1959-09-23,M,"{'id': 121, 'Location': 'New York', 'RegionIDn..."
26,5544,Joel Baumbaugh,1950-07-09,M,"{'id': 89, 'Location': 'California', 'RegionID..."
27,317,Lynn Stephenson,1926-11-15,F,"{'id': 123, 'Location': 'North Carolina', 'Reg..."
28,524,Steve Fuller,1948-07-12,M,"{'id': 113, 'Location': 'Missouri', 'RegionIDn..."
29,7411,Robert Amon,1940-09-24,M,"{'id': 131, 'Location': 'Oregon', 'RegionIDnew..."
...,...,...,...,...,...
20,544,Bruce Wine,1939-03-26,M,"{'id': 121, 'Location': 'New York', 'RegionIDn..."
21,22967,Duk Jo Kim,1939-02-11,M,"{'id': 96, 'Location': 'Georgia, State', 'Regi..."
22,20372,Harden Ballantine,1938-11-03,M,"{'id': 128, 'Location': 'Ohio', 'RegionIDnew':..."
23,19879,Bob Funston,1938-09-17,M,"{'id': 129, 'Location': 'Oklahoma', 'RegionIDn..."
24,17740,Alec Sutherland,1938-09-12,M,"{'id': 121, 'Location': 'New York', 'RegionIDn..."
25,22878,Tommy Holland,1938-08-17,M,"{'id': 96, 'Location': 'Georgia, State', 'Regi..."
26,35357,Brian Taylor,1938-03-29,M,"{'id': 86, 'Location': 'Arizona', 'RegionIDnew..."
27,40543,Jo Holland,1938-03-10,M,"{'id': 95, 'Location': 'Florida', 'RegionIDnew..."
28,42214,Mark Troyer,1937-09-20,M,"{'id': 89, 'Location': 'California', 'RegionID..."
29,36172,Peggy Nute,1937-06-24,F,"{'id': 89, 'Location': 'California', 'RegionID..."
30,12557,Barbara Bailey,1936-05-14,F,"{'id': 128, 'Location': 'Ohio', 'RegionIDnew':..."
31,21228,Bette Adelman,1936-03-03,F,"{'id': 86, 'Location': 'Arizona', 'RegionIDnew..."
32,36171,Boyce Nute,1935-10-18,M,"{'id': 89, 'Location': 'California', 'RegionID..."
33,39909,Freemont Reif,1935-05-21,M,"{'id': 121, 'Location': 'New York', 'RegionIDn..."
34,17377,Graham Hutchins,1934-02-21,M,"{'id': 148, 'Location': 'Washington', 'RegionI..."
35,21196,Harold Cohen,1934-01-08,M,"{'id': 95, 'Location': 'Florida', 'RegionIDnew..."
36,33624,Pearl Jordan,1933-08-12,M,"{'id': 91, 'Location': 'Colorado', 'RegionIDne..."
37,11187,Betty Everts,1933-07-19,F,"{'id': 121, 'Location': 'New York', 'RegionIDn..."
38,15321,Roy Riedinger,1933-06-03,M,"{'id': 128, 'Location': 'Ohio', 'RegionIDnew':..."
39,17582,Walter D'ardenne,1932-10-31,M,"{'id': 89, 'Location': 'California', 'RegionID..."
40,14784,Walter James Murray,1930-07-12,M,"{'id': 111, 'Location': 'Minnesota', 'RegionID..."
41,23890,Margo Spears,1930-02-14,F,"{'id': 148, 'Location': 'Washington', 'RegionI..."
42,15292,Carlyle Roberts,1929-04-13,M,"{'id': 121, 'Location': 'New York', 'RegionIDn..."
43,12208,Donald De Berry,1927-11-27,M,"{'id': 89, 'Location': 'California', 'RegionID..."
44,34323,Bob Magill,1925-12-23,M,"{'id': 91, 'Location': 'Colorado', 'RegionIDne..."
45,17543,Sequoia Chun,1925-03-31,F,"{'id': 108, 'Location': 'Massachusetts', 'Regi..."
46,22193,Joan Youmans,1924-12-31,F,"{'id': 89, 'Location': 'California', 'RegionID..."
47,5698,William Dailey,1924-01-24,M,"{'id': 121, 'Location': 'New York', 'RegionIDn..."
48,40108,Bernice Janssen,1923-06-25,F,"{'id': 150, 'Location': 'Wisconsin', 'RegionID..."
49,18253,John D.,1922-01-01,M,"{'id': 121, 'Location': 'New York', 'RegionIDn..."